{% extends 'base.html' %}

{% block title %}
Создать новый пост
{% endblock %}

{% block content_title %}
Создать новый пост
{% endblock %}

{% block content %}
<div class='col-md-6'>
	<form action="{{ url_for('posts.create_post') }}" method="POST">
		{% for field in form %}
		<div class="form-group">
			{{ field.label(class='control-label') }}
			{{ field(class='form-control') }}
		</div>
		{% endfor %}
		Теги: 
		{% for tag in tags %}
		<input type="radio" id="choice" value={{ tag.name }}>
		<label for="choice"><span class="badge badge-primary">{{ tag.name }} </span></label>
		{% endfor %}
		<br><br>
		<button type="submit" class="btn btn-success">Создать</button>
	</form>
</div>
{% endblock %}